@import "./font-map.css";
@import "./tokens.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg-canvas);
  color: var(--color-text-primary);
  font-family: var(--text-body-default-font-family), serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
